
/* GLOBAL =========*/

:root{
    --green: #819649;
    --dark-green: #3E4825;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100wh;
    background: url("./src/img/background.svg");
    font-family: 'Poppins', sans-serif;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES =========*/
h2{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: normal;
    text-align: center;
}

h3{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: normal;
    text-align: center;
}

/* GRID =========*/
header{
    display: grid;
    grid-template-columns:4fr 4fr 4fr;
}

#logo {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;  
}

#nav{
    align-self: center;
}


/* HEADER =========*/

header #logo img{
    padding-top: 92px;
    padding-bottom: 79px;
}

header #nav ul{
    list-style: none;
    padding-top: 142px;
    padding-bottom: 105px;
}

/* MAIN =========*/


#text{
    margin-bottom: 99px;
}


a{
    width: 100%;
    text-decoration: none;
    color: var(--dark-green);
}

a :hover{
    color: white;
}




/* CARDS =========*/
.card{

    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.card:hover{
    background: var(--green);
    transition: all.5s;
}





