
/* GLOBAL =========*/

:root{
    --green: #819649;
    --dark-green: #3E4825;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100wh;
    background: url("./src/img/background.svg");
    font-family: 'Poppins', sans-serif;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES =========*/
h2{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: normal;
    text-align: center;
}

h3{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: normal;
    text-align: center;
}



/* HEADER =========*/

header #logo {
    display: flex;
    justify-items: center;
    justify-content: center;

    padding: 3rem 5rem;
}

/* MAIN =========*/


#text{
    padding-bottom: 3rem;
}


a{
    text-decoration: none;
}


/* CARDS =========*/
.card{

    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}


.card:hover{
    background: var(--green);
    transition: all.5s;
}


.card h2:hover{
    color:white;
}

/* CALL =========*/

.call{
    padding-top: 1rem;
    padding-bottom: 3rem;
}



.call a{
    vertical-align: middle
}



